.sidebar {
    position:fixed;
    left:0;
    top:50px;
    bottom:0;
    background-color:#1c2b36;
    width:200px;
    text-align:left;
    overflow: hidden;
    transition:width 0.3s ease 0s;
    white-space: nowrap;
    ul {
        padding:0;
        margin:20px 0 0;
        li {
            a {
                display:block;
                padding:10px 20px;
                color:#869fb1;
                font-size:14px;
                transition:background-color .2s ease-in-out 0s;
                img {
                    margin-right:5px;
                    width:40px;
                }
                &:hover,&.active {
                    background-color:#16232d;
                }
            }
        }
    }
    &.collapsed {
        width:60px;
        ul {
            li {
                a {
                    padding:10px 0;
                    text-align:center;
                    span {
                        display:none;
                    }
                    img {
                        margin:0;
                        width:35px;
                    }
                }
            }
        }
    }
}